Source: openmediavault-docker-repo
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>> 9 )
Standards-Version: 3.9.3
Homepage: http://docker.io/

Package: openmediavault-docker-repo
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 1.0.7), unzip, curl, apparmor, apt-transport-https, ca-certificates
Description: OpenMediaVault docker plugin
 installs docker repository, needed to install docker plugins
